
body {
    margin: 0;
    font-family: palatino, arial, helvetica;
  }
.grid{
  background-image: url(./photos/background1.jpg);
  height: 600px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  background-position: center;
  padding: 1em;
}


  .topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
  }
  

  .topbar h1{
    font-size: 20px;
    margin-left: 1em;
  }
  .topbar a{
    text-decoration: none;
  } 
  .topbar a:visited{
    text-decoration: none;
    color: white;
  }

  .first {
    padding: 4em;
    font-size: 24px;
    color: white;
  }

  .first h2{
    padding: 1em;
  }


  .button-wrapper{
    display: block;
    text-align: center;
  }
  .button{
    border-color: white;
    border-style:solid;
    background-color: black;
    display: inline-block;
    font-size: 1em;
    padding: 1em 1em;
    width: auto;
  }
  .button-wrapper a{
    text-decoration: none;
  }
  .button-wrapper a:visited{
    text-decoration: none;
    color: white;
  }
  
  img {
    width: 100%;
  }
.grid2 img{
    width: 50%;
    display: block;
    margin: auto;
}

header ul {
  display: flex;
  list-style: none;
}

header ul li {
  margin-right: 1em;
}

.grid2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    margin: 0 10%; 
    column-gap: 13em;
}
.grid2 div:first-child{
    grid-column: 1/-1;
      text-align: center;
  }

  .grid2 h3{
    font-size: 15px;
  }
.trophy_des{
  text-align: left;
}

.grid3, .grid3team{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    margin: 2% 2%;
  }

  
  .grid3 div:first-child{
    grid-column: 1/-1;
      text-align: center;
  }

  .grid3 div:last-child{
    grid-column: span 3;
  }
  .grid3team div:first-child{
    grid-column: 1/-1;
      text-align: center;
  }

p {
  text-align: center;
}

h1, h2, h3{
  text-align: center;
}

.location_des{
  text-align: left;
}



footer {
  background-color: black ;
  color: white;
  padding: 1em;
}

.top {
  color: orange;
}
.top a:visited{
  color:orange;
}
